
.DS_Store
.idea
tell.md


#---------------------------------------------
#-- Sublime
#---------------------------------------------
Package\ Control.user-ca-bundle
Package\ Control.merged-ca-bundle
Package\ Control.last-run
Package\ Control.cache
home/config/sublime/User/SBSCompareScheme.hidden-color-scheme
home/config/sublime/User/remove-popup.txt
home/config/sublime/User/.SublimeREPLHistory/python.db

#---------------------------------------------
#-- Idea
#---------------------------------------------
home/config/JetBrains/IdeaIC2021.2/tasks
home/config/JetBrains/IdeaIC2021.2/workspace
home/config/JetBrains/IdeaIC2021.2/options/shownTips.xml
home/config/JetBrains/IdeaIC2021.2/options/recentProjects.xml
home/config/JetBrains/IdeaIC2021.2/options/find.xml
home/config/JetBrains/IdeaIC2021.2/options/visualizationTool.xml
home/config/JetBrains/IdeaIC2021.2/options/features.usage.statistics.xml
home/config/JetBrains/IdeaIC2021.2/options/runner.layout.xml
home/config/JetBrains/IdeaIC2021.2/options/actionSummary.xml
home/config/JetBrains/IdeaIC2021.2/options/window.state.xml
home/config/JetBrains/IdeaIC2021.2/port
home/config/JetBrains/IdeaIC2021.2/options/other.xml
home/config/JetBrains/IdeaIC2021.2/options/updates.xml
home/config/JetBrains/IdeaIC2021.2/updatedBrokenPlugins.db
home/config/JetBrains/IdeaIC2021.2/options/filetypes.xml


#---------------------------------------------
#-- Others
#---------------------------------------------
home/local/share/applications/install4j_bban8b-tws.desktop
xsystems/dell-config/home/config/openbox/environment
xsystems/dell-config/home/config/openbox/menu.xml

cairo-dock/themes
cairo-dock/extras
home/config/cairo-dock/themes
home/config/cairo-dock/extras



