
.DS_Store
.idea
tell.md

# sublime
Package\ Control.user-ca-bundle
Package\ Control.merged-ca-bundle
Package\ Control.last-run
Package\ Control.cache

# others
xsystems/dell-config/home/config/openbox/environment
xsystems/dell-config/home/config/openbox/menu.xml

home/config/JetBrains/IdeaIC2021.2/tasks
