
.DS_Store
.idea
tell.md


# ---------------------------------------------
# -- Vim 
# ---------------------------------------------
packer_compiled.lua
mysession.vim


#---------------------------------------------
#-- Sublime
#---------------------------------------------
Package\ Control.user-ca-bundle
Package\ Control.merged-ca-bundle
Package\ Control.last-run
Package\ Control.cache
home/config/sublime/User/SBSCompareScheme.hidden-color-scheme
home/config/sublime/User/remove-popup.txt
home/config/sublime/User/.SublimeREPLHistory/python.db



#---------------------------------------------
#-- Others
#---------------------------------------------
home/local/share/applications/install4j_bban8b-tws.desktop
xsystems/dell-config/home/config/openbox/environment
xsystems/dell-config/home/config/openbox/menu.xml

cairo-dock/themes
cairo-dock/extras
home/config/cairo-dock/themes
home/config/cairo-dock/extras
home/config/nvim/mysession.vim


